*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size:1.25vw;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

.container{
	width:100%;
}

#navbar{
	position: relative;
	margin:0px 30.2vw;
	top:80vh;
	width:45%;	
}

#navbar ul{
	padding:0;
	list-style-type: none;
	overflow: hidden;
}


#navbar li{
	display:inline;
	padding-left: 2vw;
}

#navbar a{
	color:white;
	text-decoration: none;
	text-align:center;
	font-size:0.7vw;
	font-weight: bold;
}
.name{

}
.name h1{
	font-size: 2.25vw;
	margin:auto 43vw;
	width:20vw;
	top:32vh;
	position: relative;
}

.name h2{
	font-size: 1.75vw;
	margin:auto 40.5vw;
	width:20vw;
	top:33.5vh;
	position: relative;
}
.bg-image{
	background-color: #121212;
	background-image:url('/images/back.jpeg');
	min-height:100vh;
	max-height:100vh;

	background-position: center;
	background-repeat: no-repeat;	
	background-size: cover;

	position: relative;
}

.line{
	width:20vw;
	height:0.2vh;
	margin:auto 39vw;
	top:29vh;
	background:white;
	border-radius: 2vh;
	position: relative;
}